* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 3vh;
}


ul {
  display:flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
  text-decoration: none;
  color : black
}

.head{
  width:100vw;
  height:10vh;
  background-color: lightgreen;
  line-height: 9.5vh;
}


.board {
  width: 100vw;
  height: 90vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}




form {
  background-color: yellowgreen;
  width: 80vw;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto; 
}


input, textarea {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}


input {
  width: 5vw;
  height: 5vh;
  margin-right: 2px; 
  vertical-align: top;
}

textarea{
width: 60vw;
height: 5vh;
vertical-align: top;
}

button {
  background-color: #4caf50;
  color: #fff;
  width: 5vw;
  height: 5vh;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: top;
}

button:hover {
  background-color: #45a049;
}

.container {
  width: 80vw;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

#memo-list {
  width: 80vw;
  max-height: 70vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 30px;
  background-color: lightgreen;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto; 
  text-align: start;
}

.memo-item {
  font-size: 1rem; 
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color : black;
  font-weight:bold
}


.memberContainer{
  display:flex;
  width: 80vw;
}

.side {
  width:10vw;
  height:90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.side>li{
  width:10vw;
  height:10vh;
  background-color: #00cc33;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.memberBoard{
  width:70vw;
  height:90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt {
  height:80vh;
  display:flex;
  flex-direction: column;
}

.prompt > div:first-child{
  background-color: black;
  color:white;
}

.memo-list{
  max-height: 65vh;
  background-color: lightgreen;
  padding-left:1vw;
  overflow-y : scroll;
  scroll-behavior: smooth;
}

.memo-form {
  display:flex;
  justify-content: space-between;
}